@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle&display=swap');

* {
    text-align: center;
}

.mainContainer {
    padding-left: 30px;
    padding-right: 30px;
}


header {
    background: rgb(14, 93, 184);
    background: linear-gradient(355deg, rgba(7, 187, 223, 0.43601190476190477) 38%, rgba(255, 255, 255, 1) 87%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 935px;

    nav {
        position: relative;
        top: 100px;
        font-family: 'Roboto', sans-serif;

        .navLogo {
            width: 90px;
            height: 30px;
        }

        a {
            color: #a5aec2 !important;
            padding-right: 40px !important;
        }

        button {
            color: #017dfb;
            font-size: 16px;
            width: 187px;
            height: 51px;
            border-radius: 26px;
            filter: drop-shadow(0 0 32.5px rgba(1, 125, 251, 0.25));
            background-color: #ffffff;
            border: none;
        }
    }

    .headerText {
        display: block;
        text-align: center;
        position: absolute;
        top: 320px;
        left: 50%;
        transform: translateX(-50%);

        .greeceText {
            width: 516px;
            height: 132px;
        }

        p {
            font-size: 16px;
            line-height: 82px;
            color: #017dfb;
            font-weight: 400;
            font-family: "Roboto";
            padding-top: 11px;
        }

        .checkOffer {
            color: #017dfb;
            font-size: 16px;
            width: 187px;
            height: 51px;
            border-radius: 26px;
            filter: drop-shadow(0 0 32.5px rgba(1, 125, 251, 0.25));
            background-color: #ffffff;
            border: none;
        }
    }
}


.blueBox {
    width: 100%;
    background-color: #017dfb;
    position: relative;
    bottom: 153px;
    display: flex;
    align-items: center;

    i {
        color: #379aff;
    }

    hr {
        width: 120px;
        color: #379aff;
        position: relative;
        bottom: 16px;
    }

    .bigHr {
        width: 140px;
    }

    .blueBoxItems {
        padding-top: 54px;
        padding-bottom: 26px;
    }

    .blueBoxItemsP {
        padding-top: 54px;
        padding-bottom: 26px;
        padding-left: 15px;
    }

    .blueBoxSearch {
        margin-top: 48px;
        margin-left: 15px;
        width: 47px;
        height: 47px;
        border-radius: 23px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.block {
    display: block;
}

.half {
    height: 467px;
}

.smallPhotos {
    width: 30%;

    img {
        width: 100%;
        height: 272px;
    }
}

.bigPhoto {
    height: 545px;
    width: 40%;
}

.secondPhoto {
    padding-top: 33px;
}


.cards {
    background-color: #f7f7f7;

    .popHotelsText {
        font-size: 16px;
        line-height: 82px;
        color: #697899;
        font-weight: 400;
        font-family: "Roboto";
    }
}

.popPlacesText {
    font-size: 16px;
    color: #697899;
    font-weight: 400;
    font-family: "Roboto";
    margin-top: -107px;
    padding-bottom: 30px;
}

.greyCard {
    height: 439px;
    // box-shadow: 1px 1px 5px rgb(207, 207, 207);
    padding: 0px;
    background-color: white;
    margin-top: 35px;

    img {
        width: 100%;
        height: 310px;
    }

    .cardButton {
        width: 187px;
        height: 51px;
        border-radius: 25px;
        filter: drop-shadow(0 0 32.5px rgba(163, 163, 163, 0.25));
        background-color: #ffffff;
        font-size: 16px;
        color: #017dfb;
        font-weight: 400;
        font-family: "Roboto";
        position: relative;
        bottom: 6px;
        border: none;
    }

    i {
        color: #fdcc23;
        position: relative;
        top: 10px;
    }

    .name {
        font-size: 18px;
        color: #697899;
        font-weight: 400;
        font-family: "Roboto";
        padding-left: 30px;
        position: relative;
        top: 27px;
    }

    .price {
        font-size: 36px;
        color: #697899;
        font-weight: 250;
        font-family: "Roboto";
        padding-right: 30px;
        position: relative;
        top: 17px;
    }

    .time {
        font-size: 14px;
        color: #697899;
        font-weight: 400;
        font-family: "Roboto";
        padding-right: 30px;
    }
}

.offersButton {
    width: 187px;
    height: 51px;
    border-radius: 26px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #e9e9e9;
    margin-top: 78px;
}

.carousel {
    height: 1089px;
    margin-top: 80px;

    img {
        height: 1089px;
    }

    .carouselDescDiv {
        margin-bottom: 284px;

        .carouselDesc {
            font-size: 90px;
            line-height: 102px;
            color: #ffffff;
            font-weight: 900;
            font-family: "Roboto";
            text-align: center;

            :last-child {
                color: #0dcfff;
                font-family: 'Molle', cursive;
            }
        }

        .loremText {
            height: 114px;
            font-size: 18px;
            line-height: 48px;
            color: #ffffff;
            font-weight: 400;
            font-family: "Roboto";
            text-align: center;
            padding-bottom: 34px;
        }

        .carouselDescLink {
            font-size: 18px;
            line-height: 48px;
            color: #ffffff;
            font-weight: 700;
            font-family: "Roboto";
            text-align: center;
            padding-top: 34px;
        }
    }
}

.atisText {
    font-size: 36px;
    line-height: 82px;
    color: #bdbdbd;
    font-weight: 400;
    font-family: 'Molle', cursive;
    text-align: center;
    position: relative;
    top: 56px;
}

.copyrightText {
    height: 27px;
    font-size: 18px;
    line-height: 48px;
    color: #bdbdbd;
    text-align: center;
    position: relative;
    top: 32px;
}


@media (max-width: 700px) {

    .mainContainer {
        padding: 0px;
    }

    .greeceText {
        width: 100% !important;
        height: 100px !important;
    }

    .blueBoxFlexbox {
        display: block !important;

        .blueBoxItems {
            margin-left: 50%;
            transform: translateX(-30%);
            padding-top: 10px;
            padding-bottom: 0px;
        }

        .blueBoxItemsP {
            margin-left: 50%;
            transform: translateX(-30%);
            padding: 0px;
        }

        .blueBoxSearch {
            margin-left: 50%;
            transform: translateX(-50%);
            padding: 0px;
            padding-bottom: 15px !important;
            margin-top: -10px;
        }

        .bigHr {
            width: 120px;
        }
    }

    .smallPhotos {
        width: 100%;
        padding: 0px !important;

        img {
            height: 400px;
        }
    }

    .bigPhoto {
        width: 100%;
        height: 400px;
        padding: 0px !important;
        padding-top: 30px !important;

    }

    .half {
        width: 100%;
        height: 400px;
        padding-top: 30px;
    }

    .secondSmallPhotosDiv {
        padding-top: 30px !important;
    }

    .carousel {
        height: 500px;

        img {
            height: 500px;
        }
    }

}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1600px;
    }

}